







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #fff;
  font: 14px/1.5em Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.spinner i.fa {
  font-size: 20px;
  margin-right: 20px;
}

a,
button,
.button,
.mini-button {
  font-weight: 500;
  line-height: 1em;
  cursor: pointer;
  font: inherit;
  color: inherit;
  -webkit-transition: color 500ms, background 200ms, opacity 200ms;
}

button,
.button,
.mini-button {
  -webkit-appearance: none;
  font: inherit;
  font-size: 14px;
  font-weight: bold;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  padding: 6px 30px;
  border-radius: 3px;
  background-color: #2f6a9e;
  text-align: center;
  text-decoration: none;
}

button:hover,
.button:hover,
.mini-button:hover {
  background-color: rgb(42, 95, 142);
}

button i.fa,
.button i.fa,
.mini-button i.fa {
  margin-right: 5px;
}

.mini-button {
  font-size: 12px;
  padding: 2px 15px 3px;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  width: auto;
  display: inline-block;
}

h1 {
  font-size: 30px;
  display: none;
}

h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

h3 {
  font-size: 1rem;
}

pre {
  font-size: 0.9rem;
  line-height: 1.1em;
  word-break: break-word;
  white-space: pre-line;
}

.tabs {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.tabs .brand {
  flex-grow: 1;
}

.tabs a.active {
  color: #fff;
}

.tabs a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.tabs span strong {
  color: #fff;
}

.tabs span {
  color: #999;
}

.row {
  display: flex;
  align-items: center;
}

.item {
  display: block;
  vertical-align: top;
  position: relative;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  width: 300px;
  overflow-y: scroll;
  background: #000;
  border-left: 1px solid #222;
}

.dropdown {
  margin-bottom: 10px;
}

.dropdown .option .name {
  font-weight: bold;
  flex-grow: 1;
}

.dropdown .option .count {
  color: #777;
  margin-left: 15px;
}

.dropdown .option .count + i.fa {
  margin-left: 10px;
  color: #777;
}

.dropdown .option {
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  display: block;
  border-radius: 3px;
  padding: 5px 0;
}

.dropdown-options {
  position: absolute;
  z-index: 9999;
}

.dropdown-option {
  display: block;
  padding: 5px 10px;
  background: rgb(41, 41, 41);
  border-top: 1px solid #111;
  cursor: pointer;
}

.dropdown-option:hover {
  background: rgb(65, 65, 65);
}

.dropdown-option .option i.fa {
  display: none;
}

.job-summary {
  margin-bottom: 10px;
  pointer-events: auto;
}

.job-summary .summary .hostname,
.job-summary .summary .status {
  flex-grow: 1;
}

.job-summary .summary .hostname {
  font-weight: bold;
}

.job-summary .summary span:last-child {
  margin-right: 0;
}

.job-summary .summary span {
  margin-right: 10px;
}

.job-summary .summary .elapsed {
  color: #999;
}

.job-summary .summary .assigned {
  font-weight: bold;
}

.job-summary .summary .mini-button i.fa {
  font-size: 14px;
  margin: 0;
}

.job-summary .summary .mini-button:hover {
  background: rgb(15, 15, 15);
}

.job-summary .summary .mini-button {
  padding: 0;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #777;
  background: transparent;
  line-height: 1;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-summary .summary .param:first-child {
  margin-top: 5px;
}

.job-summary .summary .param .key {
  font-weight: bold;
  font-size: 0.8rem;
}

.job-summary .summary .param .value {
  font-family: monospace;
}

.job-summary .summary {
  background: rgb(41, 41, 41);
  padding: 5px 10px;
}

.job-summary.hidden .params {
  display: none;
}

.job-summary.hidden .logs {
  display: none;
}

.job-summary.hidden {
  opacity: 0.3;
}

.job-summary.collapsed .params {
  display: none;
}

.job-summary.collapsed .logs {
  display: none;
}

.job-summary.collapsed {
  border-bottom: 2px solid rgb(65, 65, 65);
}

.logs {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.8);
}

.logs > div {
  padding: 0 10px;
}

.logs span:first-child {
  font-family: monospace;
}

.logs .t {
  color: #999;
  text-align: right;
  margin-left: 10px;
}

.chart {
  position: relative;
}

.chart .line-chart {
  background: #111;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  background: transparent;
  overflow: visible;
}

svg text {
  font-size: 12px;
  font-weight: 500;
}

.axis text {
  fill: #777;
}

.follower-container {
  top: 0;
  left: 0;
}

.follower-line {
  fill: rgba(255, 255, 255, 0.2);
}

.follower-dot {
  border: 2px solid #fff;
}

.follower-label {
  font-size: 10px;
  line-height: 1em;
  font-weight: 500;
  fill: #fff;
  padding: 2px;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}





.object-editor .edit-value,
.object-editor.edit-value {
  display: inline-block;
}

.object-editor button:hover,
.object-editor .button:hover,
.object-editor .mini-button:hover {
  background: #ddd;
}

.object-editor button:active,
.object-editor .button:active,
.object-editor .mini-button:active {
  background: #bbb;
}

.object-editor button,
.object-editor .button,
.object-editor .mini-button {
  background: transparent;
  border-radius: 0;
  padding: 0 6px;
}

.object-editor .adder {
  margin-left: -5px;
}

.object-editor .edit-object > .adder,
.object-editor.edit-object > .adder {
  color: #9013FE;
}

.object-editor .edit-object,
.object-editor.edit-object {
  padding-left: 10px;
  border-left: 3px solid #9013FE;
}

.object-editor .key-extra-object {
  color: #9013FE;
}

.object-editor .edit-array > .adder,
.object-editor.edit-array > .adder {
  color: #F5A623;
}

.object-editor .edit-array,
.object-editor.edit-array {
  padding-left: 10px;
  border-left: 3px solid #F5A623;
}

.object-editor .key-extra-array {
  color: #F5A623;
}

.object-editor .editable-field {
  display: inline-block;
  margin-right: 10px;
}

.object-editor .row {
  position: relative;
}

.object-editor .actions {
  position: absolute;
  top: 0;
  right: 0;
}

.object-editor .editable-field.key {
  font-weight: bold;
  color: inherit !important;
}

.object-editor .delete {
  color: red;
  font-size: 12px;
}

.object-editor .edited [contenteditable] {
  outline-color: #fff5dc;
}

.object-editor .new-row [contenteditable][disabled] {
  background: transparent;
}

.object-editor .new-row [contenteditable] {
  display: inline-block;
  outline-color: #fff5dc;
}

.object-editor .invalid {
  background: red;
}

.object-editor [contenteditable] {
  display: inline-block;
}

.object-editor .type-string {
  color: #6492c0;
}

.object-editor .value.type-string:before {
  content: '"';
}

.object-editor .value.type-string:after {
  content: '"';
}

.object-editor .type-number {
  color: #66c184;
}

.object-editor .type-boolean {
  color: #ff6699;
}

.object-editor.value-cats {
  background: url(http://www.publicdomainpictures.net/pictures/50000/velka/tabby-cat-dark-background.jpg);
  background-size: 100% 100%;
  border: 3px dashed yellow;
  border-radius: 10px;
  width: 300px;
}

.object-editor.value-cats [contenteditable] {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2px 5px;
}

.object-editor.value-cats .type-string {
  color: yellow;
}

.object-editor.value-cats .value-name {
  font-size: 25px;
  line-height: 25px;
}

.object-editor.value-tickets > .row > .key {
  display: none;
}

.object-editor.value-tickets > .row > .object-editor .row {
  position: static;
}

.object-editor.value-tickets > .row > .object-editor .key,
.object-editor.value-tickets > .row > .object-editor .adder {
  display: none;
}

.object-editor.value-tickets > .row > .object-editor [contenteditable] {
  line-height: 1em;
}

.object-editor.value-tickets > .row > .object-editor .row .actions {
  display: none;
}

.object-editor.value-tickets > .row > .object-editor .value:before,
.object-editor.value-tickets > .row > .object-editor .value:after {
  display: none;
}

.object-editor.value-tickets > .row > .object-editor .value {
  color: #000;
}

.object-editor.value-tickets > .row > .object-editor .value-price .value:before {
  content: "$";
  display: inline;
  font-size: 20px;
  position: relative;
  left: -1px;
  bottom: 5px;
}

.object-editor.value-tickets > .row > .object-editor .value-price .value {
  font-size: 30px;
  font-family: Georgia, Times, serif;
  font-style: italic;
  position: absolute;
  right: 30px;
  top: 30px;
}

.object-editor.value-tickets > .row > .object-editor .value-event .value {
  font-weight: bold;
  font-family: Georgia, Times, serif;
  font-size: 20px;
}

.object-editor.value-tickets > .row > .object-editor .value-time .value {
  font-family: Georgia, Times, serif;
  margin-top: 5px;
  font-size: 13px;
}

.object-editor.value-tickets > .row > .object-editor {
  width: 500px;
  padding: 30px;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  margin-top: 10px;
}